<div class="container-fluid">
  <div class="row mt-3">
    <div class="col-2">
    </div>
    <div class="col-8">
      <div class="mb-3">
        <input class="form-control" placeholder="Enter keywords to display statistics of a wikipedia article" type="text" (keyup)="inputTextChange()"
               [(ngModel)]="inputText"/>
      </div>
    </div>
    <div class="col-2">
    </div>
  </div>


  <div class="row">
    <div class="col-2">
    </div>
    <div class="col-8">
      <div class="card">
        <div class="row">
          <div class="col-12 col-lg-6 col-xl-5" style="text-align: center;">
            <div>
              <h1>{{ articleName }}</h1>
            </div>
            <figure id="bar"></figure>
          </div>
          <div class="col-12 col-lg-6 col-xl-7 p-5">
            <p class="text-muted">
              {{ summary }}
            </p>
            <a href="{{ wikipediaUrl }}">{{ wikipediaUrl }}</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-2">
    </div>
  </div>
</div>
